<footer>
  <div class="footer-grid">
    <div class="footer-block">
      <h3>Resources</h3>
      <ul>
        <li>
          <a class="link" href="about" title="Contributors.">About</a>
        </li>
        <li>
          <a class="link" href="https://angular.io/resources" title="Angular tools, training, and blogs from around the web.">Resource Listing</a>
        </li>
      </ul>
    </div>
    <div class="footer-block">
      <h3>Community</h3>
      <ul>
        <li><a class="link" href="https://github.com/sathyarajagopal" title="GitHub">GitHub</a></li>
      </ul>
      <ul>
        <li><a class="link" href="https://twitter.com/satzspr" title="Twitter">Twitter</a></li>
      </ul>
    </div>
  </div>
  <p>Created by <a href="https://github.com/sathyarajagopal" target="_blank">Sathya Prabu Rajagopal</a></p>
</footer>